<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tech News Scraper</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/saved">Saved articles</a>
      <a class="btn btn-danger scrape-new">Get new articles</a>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4">Tech News</h1>
  <p class="lead">Get the latest from TechCrunch</p>
</div>

<div class="container article-container">
  <h3>Articles</h3>
  {{#each articles}}
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
      </div>
    </div>
  {{/each}}
</div>