<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Vanguard Scraper</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home</a>
      <a class="nav-item nav-link" href="/saved">Saved articles</a>
    
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4">New Cards</h1>
  <p class="lead">Get the latest from vanguard cards</p>
  
</div>

<div class="container article-container">
 
  <h3>Cards</h3>
  {{#each articles}}
    <div class="card bg-light mb-3">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
      </div>
    </div>
  {{/each}}
</div>
   <a class="btn btn-danger scrape-new">The Next stage</a>
      <a class="btn btn-danger scrape-new-2">The astral force</a>
      <a class="btn btn-danger scrape-new-3">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-4">crystal melody/a>
      <a class="btn btn-danger scrape-new-5">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-6">The raging tactics</a>
      <a class="btn btn-danger scrape-new-7">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-8">The astral force</a>
      <a class="btn btn-danger scrape-new-9">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-10">crystal melody/a>
      <a class="btn btn-danger scrape-new-11">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-12">The raging tactics</a>
      <a class="btn btn-danger scrape-new-13">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-14">The astral force</a>
      <a class="btn btn-danger scrape-new-15">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-16">crystal melody/a>
      <a class="btn btn-danger scrape-new-17">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-18">The raging tactics</a>
      <a class="btn btn-danger scrape-new-19">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-20">The astral force</a>
      <a class="btn btn-danger scrape-new-21">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-22">crystal melody/a>
      <a class="btn btn-danger scrape-new-23">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-24">The raging tactics</a>
      <a class="btn btn-danger scrape-new-25">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-26">The astral force</a>
      <a class="btn btn-danger scrape-new-27">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-28">crystal melody/a>
      <a class="btn btn-danger scrape-new-29">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-30">The raging tactics</a>
      <a class="btn btn-danger scrape-new-31">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-32">The astral force</a>
      <a class="btn btn-danger scrape-new-33">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-34">crystal melody/a>
      <a class="btn btn-danger scrape-new-35">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-36">The raging tactics</a>
      <a class="btn btn-danger scrape-new-37">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-38">The astral force</a>
      <a class="btn btn-danger scrape-new-39">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-40">crystal melody/a>
      <a class="btn btn-danger scrape-new-41">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-42">The raging tactics</a>
      <a class="btn btn-danger scrape-new-43">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-44">The astral force</a>
      <a class="btn btn-danger scrape-new-45">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-46">crystal melody/a>
      <a class="btn btn-danger scrape-new-47">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-48">The raging tactics</a>
      <a class="btn btn-danger scrape-new-49">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-50">The astral force</a>
      <a class="btn btn-danger scrape-new-51">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-52">crystal melody/a>
      <a class="btn btn-danger scrape-new-53">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-54">The raging tactics</a>
      <a class="btn btn-danger scrape-new-55">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-56">The astral force</a>
      <a class="btn btn-danger scrape-new-57">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-58">crystal melody/a>
      <a class="btn btn-danger scrape-new-59">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-60">The raging tactics</a>
      <a class="btn btn-danger scrape-new-61">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-62">The astral force</a>
      <a class="btn btn-danger scrape-new-63">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-64">crystal melody/a>
      <a class="btn btn-danger scrape-new-65">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-66">The raging tactics</a>
      <a class="btn btn-danger scrape-new-67">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-68">The astral force</a>
      <a class="btn btn-danger scrape-new-69">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-70">crystal melody/a>
      <a class="btn btn-danger scrape-new-71">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-72">The raging tactics</a>
      <a class="btn btn-danger scrape-new-73">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-74">The astral force</a>
      <a class="btn btn-danger scrape-new-75">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-76">crystal melody/a>
      <a class="btn btn-danger scrape-new-77">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-78">The raging tactics</a>
      <a class="btn btn-danger scrape-new-79">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-80">The astral force</a>
      <a class="btn btn-danger scrape-new-81">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-82">crystal melody/a>
      <a class="btn btn-danger scrape-new-83">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-84">The raging tactics</a>
      <a class="btn btn-danger scrape-new-85">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-86">The astral force</a>
      <a class="btn btn-danger scrape-new-87">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-88">crystal melody/a>
      <a class="btn btn-danger scrape-new-89">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-90">The raging tactics</a>
      <a class="btn btn-danger scrape-new-91">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-92">The astral force</a>
      <a class="btn btn-danger scrape-new-93">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-94">crystal melody/a>
      <a class="btn btn-danger scrape-new-95">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-96">The raging tactics</a>
      <a class="btn btn-danger scrape-new-97">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-98">crystal melody/a>
      <a class="btn btn-danger scrape-new-99">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-100">The raging tactics</a>
      <a class="btn btn-danger scrape-new-101">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-102">The astral force</a>
      <a class="btn btn-danger scrape-new-103">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-104">crystal melody/a>
      <a class="btn btn-danger scrape-new-105">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-106">The raging tactics</a>
      <a class="btn btn-danger scrape-new-107">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-108">The astral force</a>
      <a class="btn btn-danger scrape-new-109">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-110">crystal melody/a>
      <a class="btn btn-danger scrape-new-111">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-112">The raging tactics</a>
      <a class="btn btn-danger scrape-new-113">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-114">The astral force</a>
      <a class="btn btn-danger scrape-new-115">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-116">crystal melody/a>
      <a class="btn btn-danger scrape-new-117">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-118">The raging tactics</a>
      <a class="btn btn-danger scrape-new-119">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-120">The astral force</a>
      <a class="btn btn-danger scrape-new-121">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-122">crystal melody/a>
      <a class="btn btn-danger scrape-new-123">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-124">The raging tactics</a>
      <a class="btn btn-danger scrape-new-125">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-126">The astral force</a>
      <a class="btn btn-danger scrape-new-127">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-128">crystal melody/a>
      <a class="btn btn-danger scrape-new-129">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-130">The raging tactics</a>
      <a class="btn btn-danger scrape-new-131">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-132">The astral force</a>
      <a class="btn btn-danger scrape-new-134">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-135">crystal melody/a>
      <a class="btn btn-danger scrape-new-136">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-137">The raging tactics</a>
      <a class="btn btn-danger scrape-new-138">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-139">The astral force</a>
      <a class="btn btn-danger scrape-new-140">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-141">crystal melody/a>
      <a class="btn btn-danger scrape-new-142">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-143">The raging tactics</a>
      <a class="btn btn-danger scrape-new-144">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-145">The astral force</a>
      <a class="btn btn-danger scrape-new-146">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-147">crystal melody/a>
      <a class="btn btn-danger scrape-new-148">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-149">The raging tactics</a>
      <a class="btn btn-danger scrape-new-150">My gloruis justice</a>
      <a class="btn btn-danger scrape-new-151">The astral force</a>
      <a class="btn btn-danger scrape-new-152">Team dragons vanity</a>
      <a class="btn btn-danger scrape-new-153">crystal melody/a>
      <a class="btn btn-danger scrape-new-154">mysterious fortune</a>
      <a class="btn btn-danger scrape-new-155">The raging tactics</a>
      <a class="btn btn-danger scrape-new-156">My gloruis justice</a>
      <style>
        .btn{
          margin: 1rem!important;
        }
      </style>